@model dynamic

@{
    ViewBag.Title = "Login";
    //Layout = "_Layout";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Authentication", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <fieldset>
            <legend>Login</legend>
            <br />
            <p class="text-danger"><b>@ViewBag.AuthenticationMessage</b></p>
            <p>
                <input type="text" name="USER" id="USER" />
            </p>
            <p>
                <input type="password" name="PASSWORD" id="PASSWORD" />
            </p>
            <p>
                <input type="submit" value="Log in" class="btn btn-primary" />
            </p>
            <p>
                @Html.ActionLink("Register", "Register")
            </p>
        </fieldset>
    }
    
</section>
<br/><br /><br /><br />
<br /><br /><br /><br />
<section class=" fa fa-font fa-gear">
    <fieldset>
        <legend>Demo UserId's</legend>
        <p><h6>Joe Trucker <b>jtrucker</b> </h6></p>
        <p><h6>Bob Jones <b>bjones</b></h6></p>
        <p><h6>Jane Corporate <b>jcorporate</b></h6></p>
        <p><h6>Agent Andy <b>aandy</b></h6></p>
        <p><h6>Backoffice Betty <b>bbetty</b></h6></p>
        <p><h6>When using demo userid's make sure you set the <b>com.gaic.insuredPortal.serviceAdapters.useFakes</b> cpr to <b>true</b></h6></p>
    </fieldset>
</section>