@model dynamic

@{
    ViewBag.Title = "Login";
    //Layout = "_Layout";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Authentication", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <fieldset>
            <legend>Login</legend>
            <br />
            <p class="text-danger"><b>@ViewBag.AuthenticationMessage</b></p>
            <p>
                <input type="text" name="USER" id="USER" />
            </p>
            <p>
                <input type="password" name="PASSWORD" id="PASSWORD" />
            </p>
            <p>
                <input type="submit" value="Log in" class="btn btn-primary" />
            </p>
            <p>
                @Html.ActionLink("Register", "Register")
            </p>
        </fieldset>
    }
    
</section>
<br/><br /><br /><br />

<section class="fa fa-gear">
    <fieldset>
        <legend>Demo UserId's</legend>
        <p><h6>Joe Trucker <b>jtrucker</b>, Individual Insured - Trucker</h6></p>
        <p><h6>Team Indy <b>tindy</b>, Master Policy holder with sub policies (i.e. Motor Carrier)</h6></p>
        <p><h6>Bob Jones <b>bjones</b>, Great American Employee (support Trucking)</h6></p>
        <p><h6>Agent Andy <b>aandy</b>, Agent for a Trucker </h6></p>
        <p><h6>Backoffice Betty <b>bbetty</b>, Backoffice personnel at an Agency - Trucker</h6></p>
        <br />
        <p><h6>Jane Corporate <b>jcorporate</b>, Corporate/Commercial Insured - Nursing Home WC Policy</h6></p>
        <p><h6>Matt Henrick <b>mhendrick</b>, Great American Employee (support Strategic Comp)</h6></p>
        <p><h6>Agent Steve <b>asteve</b>, Agent for a Strategic Comp policy</h6></p>
        <p><h6>Sue Nate <b>snate</b>, Backoffice personnel at an Agency - Strategic Comp</h6></p>
        <p><h6>When using demo userid's make sure you set the <b>com.gaic.insuredPortal.serviceAdapters.useFakes</b> cpr to <b>true</b></h6></p>
    </fieldset>
</section>