<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row" data-ng-show="vm.User.Permission.ShowNotifications">
                <div class="col-md-12">
                    <ul class="today-datas col-md-3">
                        <!--<li class="blightblue">
                                <div class="pull-left"><i class="fa fa-plane"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
                                </div>
                                <div class="clearfix"></div>
                            </li>-->

                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <!--<span class="bold">{{vm.messageCount}}</span> changes-->
                                {{vm.notifications.length}} changes
                               
                            </div>
                            
                            <div class="clearfix"></div>

                        </li>

                    </ul>
                    <ul>
                        <li data-ng-repeat="n in vm.notifications">
                            {{n.Message}}
                        </li>
                    </ul>
                </div>
            </div>
            <div>
               
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Policies" class="fa fa-ambulance"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info" data-ng-show="vm.policies.length>0">
                            <table id="dashboardPolicy" class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Policy</th>
                                        <th>Status</th>
                                        <th id="effDate">Effective Date</th>
                                        <th id="expDate">Expiration Date</th>
                                        <th id="insuredName">Insured</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.policies">
                                        <td><a href="" data-ng-click="">{{p.Symbol}}</a></td>
                                        <td>{{p.Status}}</td>
                                        <td id="effDate">{{p.EffectiveDate}}</td>
                                        <td id="expDate">{{p.ExpirationDate}}</td>
                                        <td id="insuredName">{{p.Insured.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-content text-center text-info" data-ng-show="vm.policies.length==0">
                            <h3>No policies found</h3>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"><a href="/app/policy/policy.html"> more...</a></div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="{{vm.news.title}}"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <small>{{vm.news.description}}</small>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>-->
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Open Claims"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info" data-ng-show="vm.claims.length>0">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.claims">
                                        <td><a href="">{{p.ClaimNumber}}</a></td>
                                        <td>{{p.LossDesc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-content text-center text-info" data-ng-show="vm.claims.length==0">
                            <h3>No open claims</h3>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"><a href="/app/claims/claims.html"> more...</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wred">
                        <div data-cc-widget-header title="Billing"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            <div class="widget-content text-left text-info" data-ng-show="vm.bills.length>0">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Loss</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="p in vm.claims">
                                            <td><a href="">{{p.ClaimNumber}}</a></td>
                                            <td>{{p.LossDesc}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-content text-center text-info" data-ng-show="vm.bills.length==0">
                                <h3>No payment due</h3>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"><a href="/app/billing/billing.html"> more...</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>