<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row col-md-12">
                <ul class="today-datas">
                    
                    <li class="bviolet">
                        <a href="/#/policy/:policyNumber">
                            <div class="pull-left"><i class="fa fa-lock"></i></div>
                            <div class="datas-text pull-right">Policy</div>
                            <!--<div class="clearfix"></div>-->
                        </a>
                    </li>
                    <li class="bblue">
                        <a href="/#/claims/:claimNumber">
                            <div class="pull-left"><i class="fa fa-file-text-o"></i></div>
                            <div class="datas-text pull-right">Claims</div>
                            <!--<div class="clearfix"></div>-->
                        </a>
                    </li>
                    <li class="bred">
                        <a href="/#/billing/:billNumber">
                            <div class="pull-left"><i class="fa fa-pencil"></i></div>
                            <div class="datas-text pull-right">Billing</div>
                            <!--<div class="clearfix"></div>-->
                        </a>
                    </li>
                    <li class="borange">
                        <a href="/#/reports">
                            <div class="pull-left"><i class="fa fa-file-pdf-o"></i></div>
                            <div class="datas-text pull-right">Reports</div>
                            <!--<div class="clearfix"></div>-->
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row" data-ng-show="vm.User.Permission.ShowNotifications">
                <div class="col-md-12">
                    <ul class="today-datas col-md-3">

                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                {{vm.notifications.length}} changes
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <ul>
                        <li data-ng-repeat="n in vm.notifications">
                            {{n.Message}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Active Policies"
                             allow-collapse="true" subtitle="{{vm.policies.length}}" icon="fa fa-lock"></div>
                        <div class="widget-content text-left text-info" data-ng-show="vm.policies.length>0">
                            <table id="dashboardPolicy" class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Policy</th>
                                        <th>Status</th>
                                        <th id="effDate">Effective Date</th>
                                        <th id="expDate">Expiration Date</th>
                                        <th id="insuredName">Insured</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.policies">
                                        <td><a href="#/policy/{{p.Number}}">{{p.Symbol}}</a></td>
                                        <td>{{p.Status}}</td>
                                        <td id="effDate">{{p.EffectiveDate}}</td>
                                        <td id="expDate">{{p.ExpirationDate}}</td>
                                        <td id="insuredName">{{p.Insured.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-content text-center text-info" data-ng-show="vm.policies.length==0">
                            <h3>No active policies found</h3>
                        </div>
                        <div class="widget-foot" data-ng-show="vm.policies.length>0">
                            <div class="clearfix"><a href="#/policy/:policyNumber"> more...</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Open Claims"
                             allow-collapse="true" icon="fa fa-file-text-o"></div>
                        <div class="widget-content text-left text-info" data-ng-show="vm.claims.length>0">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.claims">
                                        <td><a href="#/claims/{{p.ClaimNumber}}">{{p.ClaimNumber}}</a></td>
                                        <td>{{p.LossDesc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-content text-center text-info" data-ng-show="vm.claims.length==0">
                            <h3>No open claims</h3>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix">
                                <a href="#/claims/:claimNumber" data-ng-show="vm.claims.length>0"> more...</a>
                                 <a href="#/reportclaim" class="text-right text-info pull-right"><i class="fa fa-file-o"></i> Report a claim</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wred">
                        <div data-cc-widget-header title="Billing"
                             allow-collapse="true" icon="fa fa-pencil"></div>

                        <div class="widget-content text-left text-info" data-ng-show="vm.bills.length>0">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.bills">
                                        <td><a href="">{{p.ClaimNumber}}</a></td>
                                        <td>{{p.LossDesc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-content text-center text-info" data-ng-show="vm.bills.length==0">
                            <h3>No payment due</h3>
                        </div>

                        <div class="widget-foot" data-ng-show="vm.bills.length>0">
                            <div class="clearfix"><a href="#/billing/:billNumber"> more...</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>