<section id="login-view" class="mainbar" data-ng-controller="login as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="form">
                    <div class="form-group">
                        <label for="userId">User Name</label>
                        <input class="form-control" data-ng-model="vm.userId" id="userId" placeholder="User Id" type="text" />
                        {{userId}}
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input class="form-control" data-ng-model="vm.pwd" id="pwd" placeholder="Password" type="password" />
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" value="Login" data-ng-click="vm.doLogin()" />
                    </div>
                    <div class="form-group">
                        <a href="" data-ng-click="vm.redirectToRegister()">Register</a>
                    </div>
                </div>
            </div>
        </div>
</section>
</section>